<div class="container">
    <div>
        <h1 class="title"><span class="bi bi-car-front-fill"></span> Registrar un mecánico</h1>
        <div *ngIf="errorMessage.length > 0" class="text-danger my-4 text-center">{{ errorMessage }}</div>
    </div>
    <form nz-form [formGroup]="formMec" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="correo">E-mail</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ingrese un correo válido">
                <input nz-input formControlName="correo" id="correo" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Contraseña</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ingresa una contraseña válida">
                <input nz-input type="password" id="contraseina" formControlName="contraseina" (ngModelChange)="updateConfirmValidator()" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nombres">Nombres</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ingrese los nombres del empleado">
                <input nz-input formControlName="nombres" id="nombres" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="apellidos">Apellidos</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ingrese los apellidos del empleado">
                <input nz-input formControlName="apellidos" id="apellidos" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="telefono">Telefono</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ingrese el telefono del empleado">
                <input nz-input formControlName="telefono" id="telefono" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="cedula">Número de identificación</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ingrese el numero de identificacion">
                <input nz-input formControlName="cedula" id="cedula" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Fecha de nacimiento</nz-form-label>
            <nz-form-control [nzSm]="16" [nzXs]="24">
                <input type="date" formControlName="fechaNacimiento" />
                <!-- <nz-date-picker></nz-date-picker> -->
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="nivelEstudios">Nivel de estudios</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ingrese el nivel de estudios">
                <input nz-input formControlName="nivelEstudios" id="nivelEstudios" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="direccion">direccion de residencia </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ingrese la direccion de residencia del empleado">
                <input nz-input formControlName="direccion" id="direccion" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="ciudadResidencia">Ciudad</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Ingrese la ciudad de residencia del empleado">
                <input nz-input formControlName="ciudadResidencia" id="ciudadResidencia" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="5" nzFor="gender" nzRequired>Sede</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="Please select your gender!">
                <nz-select id="sede" formControlName="sedeId" nzPlaceHolder="Selecciona una sede" (ngModelChange)="genderChange($event)">
                    <nz-option *ngFor="let sede of sedes" nzValue="{{ sede.id }}" nzLabel="{{ sede.nombre }}"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <p>{{ registrar }}</p>
        <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
                <button (click)="submitForm()" nzType="primary">Registrar mecanico</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
