.container-centered {
    width: 100%;
    height: calc(100vh - 3.75rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    text-align: center;
}

.tarjeta {
    text-align: center;
}

.tarjeta span {
    display: inline;
    font-size: 3rem;
    text-align: center;
}
