form{
  margin-top: 20px;
  border-radius: 4px;
}
input{
  border-style: solid;
  border-color: rgb(60, 191, 247);
  height: 40px;
  width: 600px !important;
  border-radius: 10px;
  margin-left: 20px;
}
button{
  border-color: rgb(60, 191, 247);
  border-radius: 10px;
  margin-top: 20px;
  height: 40px;
  width: 100px ;
  margin-right: 520px !important;
}
